---
import PageLayout from '@/layouts/CommonPage.astro'
import { Image } from 'astro:assets'
import ToolSection from '@/components/about/ToolSection.astro'
import { Comment } from '@/components/advanced'
import AnimatedSignature from '@/components/blog/AnimatedSignature.astro'
import PublicationEntry from '@/components/projects/PublicationEntry.astro'
import { Collapse, Spoiler, Timeline } from '@/components/user'
import profile1 from '@/assets/about/1.jpeg'
import profile2 from '@/assets/about/2.jpeg'
import profile3 from '@/assets/about/3.jpeg'
import profile4 from '@/assets/about/4.jpeg'
import profile5 from '@/assets/about/5.jpeg'
import profile6 from '@/assets/about/6.jpeg'
import profile7 from '@/assets/about/7.jpeg'

export const prerender = true

const allProfiles = [profile1, profile2, profile3, profile4, profile5, profile6, profile7]
const initialProfile = allProfiles[Math.floor(Math.random() * allProfiles.length)]

const publicationsData = [
  // {
  //   name: 'DexterCap: An Affordable and Automated System for Capturing Dexterous Hand-Object Manipulation',
  //   authors: '<u>Yutong Liang*</u>, Shiyi Xu*, Yulong Zhang*, Bowen Zhan, He Zhang, Libin Liu',
  //   venue: 'SIGGRAPH Asia',
  //   year: '2025',
  //   image: 'DexterCap/DexterCap.png',
  //   links: [
  //     { type: 'github', href: 'https://github.com/PKU-MoCCA/hand-mocap' },
  //     { type: 'site', href: '/projects/DexterCap' },
  //     { type: 'release', href: 'https://huggingface.co/datasets/pku-mocca/DexterHand/' }
  //   ],
  //   details: `Modeling complex, fine-grained hand-object interactions remains challenging, in part due to the limited availability of dedicated datasets and specialized capture methods. Existing motion capture systems are generally limited to basic motion types, such as grasping, and interactions with primitive rigid or articulated objects. To facilitate the exploration of intricate, dexterous in-hand manipulations with more complex objects, we present DexterCap. We first design a robust, low-cost, and high-fidelity motion capture hardware system that acquires reliable data even in the presence of self-occlusion and complex manipulation. To ensure accurate capture despite severe occlusions, we introduce a specialized patch maker equipped with an effective detection and optimization pipeline. We further develop an automated data augmentation pipeline to reconstruct and refine motion data with minimal manual effort, improving both efficiency and data quality. Using this system, we create the DexterHand dataset, which includes subtle, fine-grained manipulation behaviors and interactions with multi-jointed objects such as a Rubik's cube. By releasing the dataset and supporting source code to the community, we hope that DexterCap will facilitate further research on intricate hand-object interactions.`,
  //   detailsTitle: 'Details: DexterCap'
  // },
  {
    name: 'ROBOVERSE: Towards a Unified Platform, Dataset and Benchmark for Scalable and Generalizable Robot Learning',
    authors:
      'Haoran Geng*, Feishi Wang*, Songlin Wei*, Yuyang Li*, Bangjun Wang*, Boshi An*, Charlie Tianyue Cheng*, Haozhe Lou, Peihao Li, Yen-Jen Wang, <u>Yutong Liang</u>, Dylan Goetting, Chaoyi Xu, Haozhe Chen, Yuxi Qian, Yiran Geng, Jiageng Mao, Weikang Wan, Mingtong Zhang, Jiangran Lyu, Siheng Zhao, Jiazhao Zhang, Jialiang Zhang, Chengyang Zhao, Haoran Lu, Yufei Ding, Ran Gong, Yuran Wang, Yuxuan Kuang, Ruihai Wu, Baoxiong Jia, Carlo Sferrazza, Hao Dong, Siyuan Huang, Koushil Sreenath, Yue Wang†, Jitendra Malik†, Pieter Abbeel†',
    venue: 'Robotics: Science and Systems (RSS)',
    year: '2025',
    image: 'roboverse.jpg',
    links: [
      { type: 'site', href: 'https://roboverseorg.github.io' },
      { type: 'github', href: 'https://github.com/RoboVerseOrg/RoboVerse' },
      { type: 'arxiv', href: 'https://arxiv.org/abs/2504.18904' }
    ],
    details: `ROBOVERSE comprises a scalable simulation platform, a large-scale synthetic dataset, and unified benchmarks. The simulation platform supports seamless integration of new tasks and demonstrations through unified protocols, ensuring flexibility and extensibility. The dataset includes over 1,000 diverse tasks and more than 10 million transitions, constructed through large-scale data migration, cross-embodiment transfer, and robust augmentation and randomization.`,
    detailsTitle: 'Technical Description',
    authorsCollapsed: true
  },
  {
    name: 'SimiSketch: A Sketching Algorithm for Similarity Estimation',
    authors:
      'Fenghao Dong, <u>Yutong Liang*</u>, Yang He*, Zirui Liu, Yuhan Wu, Peiqing Chen, and Tong Yang',
    venue: 'arXiv preprint 2405.19711',
    year: '2024',
    image: 'simisketch.png',
    links: [
      { type: 'github', href: 'https://github.com/SimiSketch/SimiSketch' },
      { type: 'arxiv', href: 'https://arxiv.org/abs/2405.19711' }
    ],
    details: `We propose SimiSketch, a sketching algorithm designed to tackle the specific problem of estimating similarity between sets. We first present two simpler versions that employ intuitive sketches for similarity estimation. Subsequently, we formally introduce SimiSketch and leverage SALSA to enhance accuracy. To validate our algorithms, we conduct extensive testing on synthetic datasets, real-world network traffic, and text articles. Our experiment shows that compared with the state-of-the-art, SimiSketch can improve the accuracy by up to 42 times, and increase the throughput by up to 360 times. The complete source code is open-sourced and available on GitHub for reference.`,
    detailsTitle: 'Technical Description'
  }
]

const headings = [
  {
    depth: 2,
    slug: 'myself',
    text: 'Yutong Liang'
  },
  {
    depth: 2,
    slug: 'projects',
    text: 'Publications'
  },
  {
    depth: 2,
    slug: 'education',
    text: 'Education'
  },
  // {
  //   depth: 2,
  //   slug: 'awards',
  //   text: 'Awards'
  // },
  {
    depth: 2,
    slug: 'skills',
    text: 'Skills and Tools'
  },
  {
    depth: 2,
    slug: 'interests',
    text: 'Personal Interests'
  }
]
---

<PageLayout title='About' headings={headings} info='/about'>
  <h2 id='myself'>Yutong Liang</h2>

  <style>
    .about-image-container {
      float: left;
      margin: 12px 18px 12px 12px;
      width: 25%;
    }

    #profile-image {
      height: auto;
      border-radius: 12px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.376);
      transition: opacity 0.3s ease;
      width: 100%;
      display: block;
    }

    .image-caption {
      margin-top: 0.5rem;
      text-align: center;
      font-style: italic;
      font-size: 0.9rem;
    }

    .content {
      overflow: auto;
      line-height: 1.5;
    }

    a:hover {
      text-decoration: underline;
    }

    .signature-container {
      display: flex;
      justify-content: flex-end;
      margin-top: -3rem;
      transform: scale(0.5);
      transform-origin: right center;
      width: 100%;
    }
  </style>

  <div class='content'>
    <div class='about-image-container'>
      <Image
        id='profile-image'
        src={initialProfile}
        alt='Yutong Liang'
        loading='eager'
        quality='high'
      />
      <p class='image-caption'>
        Guess what? <Spoiler>Click the image to change it!</Spoiler>
      </p>
    </div>
    <script is:inline define:vars={{ profiles: allProfiles, initialProfile: initialProfile }}>
      const profileImage = document.getElementById('profile-image')
      const imageSources = profiles.map((p) => p.src)
      let currentIndex = profiles.findIndex((p) => p.src === initialProfile.src)

      window.addEventListener('load', () => {
        profiles.forEach((profile, index) => {
          if (index !== currentIndex) {
            const img = new Image()
            img.src = profile.src
          }
        })
      })

      if (profileImage) {
        profileImage.addEventListener('click', () => {
          profileImage.style.opacity = '0'
          setTimeout(() => {
            if (imageSources.length > 1) {
              const oldIndex = currentIndex
              do {
                currentIndex = Math.floor(Math.random() * imageSources.length)
              } while (currentIndex === oldIndex)
            }
            profileImage.src = imageSources[currentIndex]
            profileImage.style.opacity = '1'
          }, 300)
        })
      }
    </script>
    <p>
      Hi there! 👋 I'm Yutong Liang, a 4th-year undergraduate student at the <a
        href='https://eecs.pku.edu.cn/xxkxjsxy/Home/HOME.htm'
        target='_blank'>School of EECS</a
      > , <a href='https://www.pku.edu.cn/' target='_blank'>Peking University</a>, majoring in
      Computer Science.
    </p>
    <p>
      I have a vision of creating generalist agents that can do what we humans can do. I'm
      particularly interested in endowing them with human-level dexterity to master complex
      human-object interaction (HOI) and in-hand manipulation tasks.
    </p>
    <p>
      I explored these interests in character animation as a research student in the <a
        href='https://vcl.pku.edu.cn/'
        target='_blank'>VCL Lab</a
      > at Peking University from Fall 2023 to Summer 2025, where I was advised by <a
        href='https://libliu.info/'
        target='_blank'>Prof. Libin Liu</a
      >.
    </p>
    <p>
      I served as a Teaching Assistant for the <a
        href='blog/course_review-zh#ai引论'
        target='_blank'>Introduction to AI</a
      > course at Peking University in Spring 2025.
    </p>
    <p>
      During summer 2024, I was a research intern at <a
        href='https://www.stanford.edu/'
        target='_blank'>Stanford University</a
      >, where I worked with <a href='https://shellguo.com/' target='_blank'>Michelle Guo</a> and <a
        href='https://pei-xu.github.io/'
        target='_blank'>Pei Xu</a
      > in the <a href='https://tml.stanford.edu/' target='_blank'>TML Lab</a> and <a
        href='https://svl.stanford.edu/'
        target='_blank'>SVL Lab</a
      >, under the guidance of <a href='https://profiles.stanford.edu/c-karen-liu' target='_blank'
        >Prof. Karen Liu</a
      > and <a href='https://jiajunwu.com/' target='_blank'>Prof. Jiajun Wu</a>.
    </p>
    <p>
      Previously, I researched in the field of Data Structures in Network Measurement in Spring
      2023, supervised by <a href='https://yangtonghome.github.io/' target='_blank'
        >Prof. Tong Yang</a
      >.
    </p>
    <div class='signature-container'>
      <AnimatedSignature />
    </div>
  </div>

  <h2 id='projects'>Publications</h2>

  <p>
    Please visit my <a href='/projects' target='_blank'>publications page</a> for more projects!
  </p>
  <p></p>

  <div class='space-y-4'>
    {
      publicationsData.map((pub) => (
        <PublicationEntry
          name={pub.name}
          authors={pub.authors}
          venue={pub.venue}
          year={pub.year}
          image={pub.image}
          links={pub.links}
          details={pub.details}
          detailsTitle={pub.detailsTitle}
          authorsCollapsed={pub.authorsCollapsed}
        />
      ))
    }
  </div>

  <h2 id='education'>Education</h2>
  <Timeline
    events={[
      {
        date: 'Sep 2021 - Jul 2025',
        content: '<a href="https://english.pku.edu.cn/" target="_blank">Peking University</a>'
      },
      {
        date: 'Sep 2018 - Jul 2021',
        content: '<a href="https://nkzx.tj.edu.cn/" target="_blank">Nankai High School</a>'
      }
    ]}
  />

  <!-- Awards -->
  <!-- <h2 id='awards'>Awards</h2>
  <Timeline
    events={[
      {
        date: 'Sep 25, 2024',
        content:
          '<a href="https://www.pku.edu.cn" target="_blank">2024 PKU Scholarship (CNY 5000, TOP 5.7%)</a>'
      },
      {
        date: 'Sep 21, 2024',
        content:
          '<a href="https://xgb.pku.edu.cn/xsjl/bjdxjl/82371.htm" target="_blank">2024 PKU Outstanding Research Award</a>'
      },
      {
        date: 'Sep 22, 2023',
        content:
          '<a href="https://www.pkuef.org/info/1133/3708.htm" target="_blank">2023 AEON Scholarship (CNY 10000, TOP 10%)</a>'
      },
      {
        date: 'Sep 22, 2023',
        content:
          '<a href="https://xgb.pku.edu.cn/xsjl/bjdxjl/82371.htm" target="_blank">2023 PKU Merit Student</a>'
      },
      {
        date: 'Sep 22, 2022',
        content:
          '<a href="https://www.pkuef.org/info/1133/3717.htm" target="_blank">2022 Shenzhen Stock Exchange Scholarship (CNY 5000, TOP 20%)</a>'
      },
      {
        date: 'Sep 22, 2022',
        content:
          '<a href="https://xgb.pku.edu.cn/xsjl/bjdxjl/82371.htm" target="_blank">2022 PKU Outstanding Academic Award</a>'
      },
      {
        date: 'Dec 25, 2021',
        content:
          '<a href="https://www.gotopku.cn/index/detail/1259.html" target="_blank">2021 PKU New Student Scholarship (CNY 10000)</a>'
      }
    ]}
  /> -->

  <!-- tools -->
  <h2 id='skills'>Skills and Tools</h2>
  <ToolSection
    class='mb-5'
    title='Language'
    tools={[
      {
        name: 'C',
        description: 'Programming Language',
        href: 'https://en.wikipedia.org/wiki/C_(programming_language)',
        iconPath: 'c'
      },
      {
        name: 'C++',
        description: 'Programming Language',
        href: 'https://en.cppreference.com/w/cpp/language',
        iconPath: 'cpp'
      },
      {
        name: 'Python',
        description: 'Programming Language',
        href: 'https://www.python.org/',
        iconPath: 'python'
      },
      {
        name: 'Rust (Learning)',
        description: 'Programming Language',
        href: 'https://www.rust-lang.org/',
        iconPath: 'rust'
      },
      {
        name: 'Latex',
        description: 'Paper & Homework Writing',
        href: 'https://www.latex-project.org/',
        iconPath: 'latex'
      },
      {
        name: 'Typst',
        description: 'Paper & Homework Writing',
        href: 'https://typst.app',
        iconPath: 'typst'
      },
      {
        name: 'Markdown',
        description: 'Docs & Blogs Writing',
        href: 'https://www.markdownguide.org/',
        iconPath: 'markdown'
      },
      {
        name: 'Shell',
        description: 'Scripting',
        href: 'https://en.wikipedia.org/wiki/Unix_shell',
        iconPath: 'shell'
      }
    ]}
  />
  <ToolSection
    class='mb-5'
    title='Coding'
    tools={[
      {
        name: 'Warp',
        description: 'Terminal',
        href: 'https://warp.dev/',
        iconPath: 'warp'
      },
      {
        name: 'Cursor',
        description: 'IDE',
        href: 'https://www.cursor.com/',
        iconPath: 'cursor'
      },
      {
        name: 'VS Code',
        description: 'IDE',
        href: 'https://code.visualstudio.com/',
        iconPath: 'vscode'
      },
      {
        name: 'GitHub',
        description: 'Code Hosting',
        href: 'https://github.com/',
        iconPath: 'github'
      },
      {
        name: 'Git',
        description: 'Version Control',
        href: 'https://git-scm.com/',
        iconPath: 'git'
      },
      {
        name: 'PyTorch',
        description: 'Deep Learning & Optimization',
        href: 'https://pytorch.org/',
        iconPath: 'pytorch'
      }
    ]}
  />
  <ToolSection
    class='mb-5'
    title='Development Tools'
    tools={[
      {
        name: 'Rerun',
        description: 'Visualize multimodal data over time',
        href: 'https://rerun.io/',
        iconPath: 'rerun'
      },
      {
        name: 'Blender',
        description: '3D Modeling',
        href: 'https://www.blender.org/',
        iconPath: 'blender'
      },
      {
        name: 'CVAT',
        description: 'Annotation Tool',
        href: 'https://www.cvat.ai/',
        iconPath: 'cvat'
      },
      {
        name: 'Docker',
        description: 'Containerization',
        href: 'https://www.docker.com/',
        iconPath: 'docker'
      }
    ]}
  />
  <ToolSection
    class='mb-5'
    title='Productivity'
    tools={[
      {
        name: 'Arc',
        description: 'Broswer',
        href: 'https://arc.net/',
        iconPath: 'arc'
      },
      {
        name: 'Safari',
        description: 'Broswer',
        href: 'https://www.apple.com/safari/',
        iconPath: 'safari'
      },
      {
        name: 'Notion',
        description: 'Literature Review & Keep Diary',
        href: 'https://www.notion.so/',
        iconPath: 'notion'
      },
      {
        name: 'Typora',
        description: 'Markdown Editor',
        href: 'https://typora.io/',
        iconPath: 'typora'
      }
    ]}
  />
  <ToolSection
    class='mb-5'
    title='Environment'
    tools={[
      {
        name: 'MacOS Sonoma',
        description: 'MacBook Pro',
        href: 'https://www.apple.com/macos/',
        iconPath: 'apple'
      },
      {
        name: 'Ubuntu 22.04 LTS',
        description: 'Linux Distribution',
        href: 'https://ubuntu.com/',
        iconPath: 'ubuntu'
      }
    ]}
  />

  <!-- interests -->
  <h2 id='interests'>Personal Interests</h2>
  <ul>
    <li>
      <p>
        I am passionate about Speed Cubing (solving Rubik's Cubes as quickly as possible) and
        currently hold the Peking University record for Pyraminx Single (valid through June 2025)!
      </p>
      <p>
        My personal bests include a 9.47-second solve for the 3x3 cube at Los Angeles 2024 and a
        2.36-second Pyraminx solve at Sacramento 2024. You can find more details on my <a
          href='https://www.worldcubeassociation.org/persons/2017LIAN26'
          target='_blank'>WCA profile</a
        >.
      </p>
      <p>
        Curious about speed-cubing? Check out this <a
          href='https://youtu.be/VmGOCXLCCgc'
          target='_blank'>YouTube video</a
        >! I also share Rubik's Cube blogs on this site—feel free to explore them!
      </p>
    </li>
    <li>
      I also enjoy playing tennis! While I'm not a professional, I play for the fun and excitement
      of the game.
    </li>
  </ul>

  <Collapse title='What TV show do you like?'>
    I love watching <a href='https://www.doctorwho.tv/' target='_blank'>Doctor Who</a>! It gives me
    a sense if seeing the world in a different way.I've been watching it for 10 years now, from
    Peter Capaldi and I'm still not tired of it. Here're some blogs about it!

    <ul>
      <li><a href='blog/dw1' target='_blank'>Blog 1 (Chinese Version)</a></li>
      <li><a href='blog/dw2' target='_blank'>Blog 2 (Chinese Version)</a></li>
      <li><a href='blog/dw3-en' target='_blank'>Blog 3 (English Version)</a></li>
      <li><a href='blog/dw3-zh' target='_blank'>Blog 3 (Chinese Version)</a></li>
    </ul>
  </Collapse>
  <Collapse title='What anime do you like to watch?'>
    <Timeline
      events={[
        {
          date: '2025.04.13',
          content:
            '<a href="https://en.wikipedia.org/wiki/Your_Lie_in_April" target="_blank">Your Lie in April</a>'
        },
        {
          date: '2025.03.18',
          content:
            '<a href="https://en.wikipedia.org/wiki/The_Promised_Neverland" target="_blank">The Promised Neverland</a>'
        },
        {
          date: '2025.03.14',
          content:
            '<a href="https://en.wikipedia.org/wiki/Summertime_Rendering" target="_blank">Summertime Rendering</a>'
        },
        {
          date: '2021.01.01',
          content:
            '<a href="https://en.wikipedia.org/wiki/Attack_on_Titan" target="_blank">Attack on Titan</a>'
        },
        {
          date: '2020.07.01',
          content:
            '<a href="https://en.wikipedia.org/wiki/Fullmetal_Alchemist" target="_blank">Fullmetal Alchemist</a>'
        },
        {
          date: '2020.01.01',
          content: '<a href="https://en.wikipedia.org/wiki/Initial_D" target="_blank">Initial D</a>'
        }
      ]}
    />
    I have watched these anime! I fell in love with the music in <a
      href='https://en.wikipedia.org/wiki/Your_Lie_in_April'
      target='_blank'>Your Lie in April</a
    >
    the first time I listened to them!
  </Collapse>
  <Collapse title='What is your favorite book?'>
    I love reading the <a href='https://www.wizardingworld.com/' target='_blank'>Harry Potter</a> series.
    I've read it many times before watching <a href='https://www.doctorwho.tv/' target='_blank'
      >Doctor Who</a
    >.
  </Collapse>

  <Comment slot='bottom' />
</PageLayout>
