---
import PageLayout from '@/layouts/CommonPage.astro'
import { Icon } from 'astro-icon/components'
import { Image } from 'astro:assets'

import ToolSection from '@/components/about/ToolSection.astro'
import { Comment } from '@/components/advanced'
import AnimatedSignature from '@/components/blog/AnimatedSignature.astro'
import PublicationEntry from '@/components/projects/PublicationEntry.astro'
import { Collapse, Spoiler, Timeline } from '@/components/user'
import profile1 from '@/assets/about/1.jpeg'
import profile2 from '@/assets/about/2.jpeg'
import profile3 from '@/assets/about/3.jpeg'
import profile4 from '@/assets/about/4.jpeg'
import profile5 from '@/assets/about/5.jpeg'
import profile6 from '@/assets/about/6.jpeg'
import profile7 from '@/assets/about/7.jpeg'

export const prerender = true

const allProfiles = [profile1, profile2, profile3, profile4, profile5, profile6, profile7]
const initialProfile = allProfiles[Math.floor(Math.random() * allProfiles.length)]

const publicationsData = [
  {
    name: 'ROBOVERSE: Towards a Unified Platform, Dataset and Benchmark for Scalable and Generalizable Robot Learning',
    authors:
      'Haoran Geng*, Feishi Wang*, Songlin Wei*, Yulong Li*, Bangjun Wang*, Boshi An*, Charlie Tianyue Cheng*, Haozhe Lou, Peihao Li, Yen-Jen Wang, <b>Yutong Liang</b>, Dylan Goetting, Chaoyi Xu, Haozhe Chen, Yuxi Qian, Yiran Geng, Jiageng Mao, Weikang Wan, Mingtong Zhang, Jiangran Lyu, Siheng Zhao, Jiazhao Zhang, Jialiang Zhang, Chengyang Zhao, Haoran Lu, Yufei Ding, Ran Gong, Yuran Wang, Yuxuan Kuang, Ruihai Wu, Baoxiong Jia, Carlo Sferrazza, Hao Dong, Siyuan Huang, Koushil Sreenath, Yue Wang†, Jitendra Malik†, Pieter Abbeel†',
    venue: 'Robotics: Science and Systems (RSS)',
    year: '2025',
    image: 'roboverse.jpg',
    links: [
      { type: 'site', href: 'https://roboverseorg.github.io' },
      { type: 'github', href: 'https://github.com/RoboVerseOrg/RoboVerse' },
      { type: 'arxiv', href: 'https://arxiv.org/abs/2504.18904' }
    ],
    details: `RoboVerse is a unified simulation platform for robot learning that integrates multiple simulators, provides high-quality synthetic datasets, and establishes standardized benchmarks. The platform features MetaSim - a universal interface that abstracts different simulation environments, enabling seamless transitions between simulators. It includes photorealistic datasets with high-fidelity physics and comprehensive benchmarks for imitation learning and reinforcement learning across various generalization levels.`,
    detailsTitle: 'Technical Description',
    authorsCollapsed: true,
    detailsCollapsed: false
  },
  {
    name: 'SimiSketch: A Sketching Algorithm for Similarity Estimation',
    authors:
      '<br />Fenghao Dong, <b>Yutong Liang</b>*, Yang He*, Zirui Liu, Yuhan Wu, Peiqing Chen, and Tong Yang',
    venue: 'arXiv preprint 2405.19711',
    year: '2024',
    image: 'simisketch.png',
    links: [
      { type: 'github', href: 'https://github.com/SimiSketch/SimiSketch' },
      { type: 'arxiv', href: 'https://arxiv.org/abs/2405.19711' }
    ],
    details: `SimiSketch is a fast sketching algorithm for estimating similarity between sets. It achieves up to 42 times better accuracy and 360 times higher throughput compared to existing methods, making it suitable for large-scale applications like network traffic analysis and text processing.`,
    detailsTitle: 'Technical Description',
    detailsCollapsed: false
  },
  {
    name: 'PKU Treehole Starred Saver',
    authors: '',
    venue: '',
    year: '',
    image: 'pku.png',
    links: [
      { type: 'site', href: '/projects/treehole' },
      { type: 'github', href: 'https://github.com/EmptyBlueBox/PKU_Treehole_Starred_Saver' }
    ],
    details: 'Save your starred posts in Peking University Treehole.',
    detailsTitle: 'Details: PKU Treehole Starred Saver'
  }
]

const headings = [
  {
    depth: 2,
    slug: 'myself',
    text: 'Yutong Liang'
  },
  {
    depth: 2,
    slug: 'projects',
    text: 'Selected Projects'
  },
  {
    depth: 2,
    slug: 'education',
    text: 'Education'
  },
  {
    depth: 2,
    slug: 'awards',
    text: 'Awards'
  },
  {
    depth: 2,
    slug: 'skills',
    text: 'Skills and Tools'
  },
  {
    depth: 2,
    slug: 'interests',
    text: 'Personal Interests'
  }
]
---

<PageLayout title='About' headings={headings} info='/about'>
  <h2 id='myself'>Yutong Liang</h2>

  <style>
    .about-image-container {
      float: left;
      margin: 12px 18px 12px 12px;
      width: 25%;
    }

    #profile-image {
      height: auto;
      border-radius: 12px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.376);
      transition: opacity 0.3s ease;
      width: 100%;
      display: block;
    }

    .image-caption {
      margin-top: 0.5rem;
      text-align: center;
      font-style: italic;
      font-size: 0.9rem;
    }

    .content {
      overflow: auto;
      line-height: 1.5;
    }

    a:hover {
      text-decoration: underline;
    }

    .signature-container {
      display: flex;
      justify-content: flex-end;
      margin-top: -3rem;
      transform: scale(0.5);
      transform-origin: right center;
      width: 100%;
    }
  </style>

  <div class='content'>
    <div class='about-image-container'>
      <Image
        id='profile-image'
        src={initialProfile}
        alt='Yutong Liang'
        loading='eager'
        quality='high'
      />
      <p class='image-caption'>
        Guess what? <Spoiler>Click the image to change it!</Spoiler>
      </p>
    </div>
    <script is:inline define:vars={{ profiles: allProfiles, initialProfile: initialProfile }}>
      const profileImage = document.getElementById('profile-image')
      const imageSources = profiles.map((p) => p.src)
      let currentIndex = profiles.findIndex((p) => p.src === initialProfile.src)

      window.addEventListener('load', () => {
        profiles.forEach((profile, index) => {
          if (index !== currentIndex) {
            const img = new Image()
            img.src = profile.src
          }
        })
      })

      if (profileImage) {
        profileImage.addEventListener('click', () => {
          profileImage.style.opacity = '0'
          setTimeout(() => {
            if (imageSources.length > 1) {
              const oldIndex = currentIndex
              do {
                currentIndex = Math.floor(Math.random() * imageSources.length)
              } while (currentIndex === oldIndex)
            }
            profileImage.src = imageSources[currentIndex]
            profileImage.style.opacity = '1'
          }, 300)
        })
      }
    </script>
    <p>
      Hi there! 👋 I am Yutong Liang, a first-year graduate student in <a href='https://catalog.ucsd.edu/curric/CSE-gr.html' target='_blank' rel='noopener noreferrer'>Computer Science and Engineering</a> at the <a href='https://cse.ucsd.edu' target='_blank' rel='noopener noreferrer'
        >University of California San Diego</a
      >, where I am advised by <a href='https://xiaolonw.github.io' target='_blank' rel='noopener noreferrer'>Prof. Xiaolong Wang</a>.
    </p>
    <p>
      My research aims to endow robots with human-level dexterity for contact-rich manipulation.
      I study human-object interaction and in-hand manipulation with the long-term goal of building embodied AI systems that operate robustly in unstructured physical environments.
    </p>
    <p>
      To make this practical, my methodology is leveraging human kinematic and dynamics priors within reinforcement learning, shrink the exploration space, enforce physically and semantically plausible motion, and deliver faster, safer, and more reliable policy learning with improved sim-to-real transfer.
    </p>
    <p>
      I completed my undergraduate studies at the <a href='https://eecs.pku.edu.cn/xxkxjsxy/Home/HOME.htm' target='_blank' rel='noopener noreferrer'>School of Electronics Engineering and Computer Science</a>, <a href='https://www.pku.edu.cn/' target='_blank' rel='noopener noreferrer'>Peking University</a> (2021-2025), where I majored in Computer Science and Technology.
      During my undergraduate years, I was a research student at the <a
        href='https://vcl.pku.edu.cn/'
        target='_blank'
        rel='noopener noreferrer'>Visual Computing and Learning Lab</a
      > at <a href='https://www.pku.edu.cn/' target='_blank' rel='noopener noreferrer'>Peking University</a> (2023-2025), where I explored character animation and physics simulation under the supervision of <a
        href='https://libliu.info/'
        target='_blank'
        rel='noopener noreferrer'>Prof. Libin Liu</a
      >.      
      Before that, I researched in the field of Data Structures and Network Measurement (2022-2023), supervised by <a
        href='https://yangtonghome.github.io/'
        target='_blank'
        rel='noopener noreferrer'>Prof. Tong Yang</a
      >.
    </p>
    <p>
      I served as a Teaching Assistant for the <a
        href='blog/course_review-zh#ai引论'
        target='_blank'
        rel='noopener noreferrer'>Introduction to AI</a
      > course at Peking University in Spring 2025.
    </p>
    <p>
      During summer 2024, I was a research intern at <a
        href='https://www.stanford.edu/'
        target='_blank'
        rel='noopener noreferrer'>Stanford University</a
      >, where I worked with <a
        href='https://shellguo.com/'
        target='_blank'
        rel='noopener noreferrer'>Michelle Guo</a
      > and <a href='https://pei-xu.github.io/' target='_blank' rel='noopener noreferrer'>Pei Xu</a>
      in the <a href='https://tml.stanford.edu/' target='_blank' rel='noopener noreferrer'
        >TML Lab</a
      > and <a href='https://svl.stanford.edu/' target='_blank' rel='noopener noreferrer'>SVL Lab</a
      >, under the guidance of <a
        href='https://profiles.stanford.edu/c-karen-liu'
        target='_blank'
        rel='noopener noreferrer'>Prof. Karen Liu</a
      > and <a href='https://jiajunwu.com/' target='_blank' rel='noopener noreferrer'
        >Prof. Jiajun Wu</a
      >.
    </p>
  </div>

  <div class='flex items-center justify-center gap-x-4 sm:gap-x-4 md:gap-x-7 lg:gap-x-8'>
    <a
      href='mailto:lyt0112@outlook.com'
      target='_blank'
      rel='noopener noreferrer'
      aria-label='Email'
      class='transition-colors hover:text-primary'
    >
      <Icon name='mail' class='size-6 sm:size-7 md:size-8' />
    </a>
    <a
      href='https://github.com/EmptyBlueBox'
      target='_blank'
      rel='noopener noreferrer'
      aria-label='GitHub'
      class='transition-colors hover:text-primary'
    >
      <Icon name='github' class='size-6 sm:size-7 md:size-8' />
    </a>
    <a
      href='https://scholar.google.com/citations?user=YtGyys8AAAAJ&hl=en'
      target='_blank'
      rel='noopener noreferrer'
      aria-label='Google Scholar'
      class='transition-colors hover:text-primary'
    >
      <Icon name='google-scholar' class='size-6 sm:size-7 md:size-8' />
    </a>
    <a
      href='https://www.linkedin.com/in/yutong-liang-0a535030b/'
      target='_blank'
      rel='noopener noreferrer'
      aria-label='LinkedIn'
      class='transition-colors hover:text-primary'
    >
      <Icon name='linkedin' class='size-6 sm:size-7 md:size-8' />
    </a>
  </div>

  <h2 id='projects'>Selected Projects</h2>

  <p>
    For more projects, please visit <a href='/projects' target='_blank' rel='noopener noreferrer'
      >this page</a
    > !
  </p>
  <p></p>

  <div class='grid grid-cols-1 gap-4'>
    {
      publicationsData.map((pub) => (
        <PublicationEntry
          name={pub.name}
          authors={pub.authors}
          venue={pub.venue}
          year={pub.year}
          image={pub.image}
          links={pub.links}
          details={pub.details}
          detailsTitle={pub.detailsTitle}
          authorsCollapsed={pub.authorsCollapsed}
          detailsCollapsed={pub.detailsCollapsed}
        />
      ))
    }
  </div>

  <h2 id='education'>Education</h2>
  <Timeline
    events={[
      {
        date: 'Sep 2025 - Jul 2027 (Expected)',
        content:
          '<a href="https://cse.ucsd.edu" target="_blank" rel="noopener noreferrer">University of California San Diego</a>'
      },
      {
        date: 'Sep 2021 - Jul 2025',
        content:
          '<a href="https://english.pku.edu.cn/" target="_blank" rel="noopener noreferrer">Peking University</a>'
      },
      {
        date: 'Sep 2018 - Jul 2021',
        content:
          '<a href="https://nkzx.tj.edu.cn/" target="_blank" rel="noopener noreferrer">Nankai High School</a>'
      }
    ]}
  />

  <!-- Awards -->
  <h2 id='awards'>Awards</h2>
  <Timeline
    events={[
      {
        date: 'Sep 25, 2024',
        content:
          '<a href="https://www.pku.edu.cn" target="_blank" rel="noopener noreferrer">2024 PKU Scholarship (CNY 5000, TOP 5.7%)</a>'
      },
      {
        date: 'Sep 21, 2024',
        content:
          '<a href="https://xgb.pku.edu.cn/xsjl/bjdxjl/82371.htm" target="_blank" rel="noopener noreferrer">2024 PKU Outstanding Research Award</a>'
      },
      {
        date: 'Sep 22, 2023',
        content:
          '<a href="https://www.pkuef.org/info/1133/3708.htm" target="_blank" rel="noopener noreferrer">2023 AEON Scholarship (CNY 10000, TOP 10%)</a>'
      },
      {
        date: 'Sep 22, 2023',
        content:
          '<a href="https://xgb.pku.edu.cn/xsjl/bjdxjl/82371.htm" target="_blank" rel="noopener noreferrer">2023 PKU Merit Student</a>'
      },
      {
        date: 'Sep 22, 2022',
        content:
          '<a href="https://www.pkuef.org/info/1133/3717.htm" target="_blank" rel="noopener noreferrer">2022 Shenzhen Stock Exchange Scholarship (CNY 5000, TOP 20%)</a>'
      },
      {
        date: 'Sep 22, 2022',
        content:
          '<a href="https://xgb.pku.edu.cn/xsjl/bjdxjl/82371.htm" target="_blank" rel="noopener noreferrer">2022 PKU Outstanding Academic Award</a>'
      },
      {
        date: 'Dec 25, 2021',
        content:
          '<a href="https://www.gotopku.cn/index/detail/1259.html" target="_blank" rel="noopener noreferrer">2021 PKU New Student Scholarship (CNY 10000)</a>'
      }
    ]}
  />

  <!-- tools -->
  <h2 id='skills'>Skills and Tools</h2>
  <ToolSection
    class='mb-5'
    title='Language'
    tools={[
      {
        name: 'C',
        description: 'Programming Language',
        href: 'https://en.wikipedia.org/wiki/C_(programming_language)',
        iconPath: 'c'
      },
      {
        name: 'C++',
        description: 'Programming Language',
        href: 'https://en.cppreference.com/w/cpp/language',
        iconPath: 'cpp'
      },
      {
        name: 'Python',
        description: 'Programming Language',
        href: 'https://www.python.org/',
        iconPath: 'python'
      },
      {
        name: 'Rust (Learning)',
        description: 'Programming Language',
        href: 'https://www.rust-lang.org/',
        iconPath: 'rust'
      },
      {
        name: 'Latex',
        description: 'Paper & Homework Writing',
        href: 'https://www.latex-project.org/',
        iconPath: 'latex'
      },
      {
        name: 'Typst',
        description: 'Paper & Homework Writing',
        href: 'https://typst.app',
        iconPath: 'typst'
      },
      {
        name: 'Markdown',
        description: 'Docs & Blog Writing',
        href: 'https://www.markdownguide.org/',
        iconPath: 'markdown'
      },
      {
        name: 'Shell',
        description: 'Scripting',
        href: 'https://en.wikipedia.org/wiki/Unix_shell',
        iconPath: 'shell'
      }
    ]}
  />
  <ToolSection
    class='mb-5'
    title='Coding'
    tools={[
      {
        name: 'Warp',
        description: 'Terminal',
        href: 'https://warp.dev/',
        iconPath: 'warp'
      },
      {
        name: 'Cursor',
        description: 'IDE',
        href: 'https://www.cursor.com/',
        iconPath: 'cursor'
      },
      {
        name: 'VS Code',
        description: 'IDE',
        href: 'https://code.visualstudio.com/',
        iconPath: 'vscode'
      },
      {
        name: 'GitHub',
        description: 'Code Hosting',
        href: 'https://github.com/',
        iconPath: 'github'
      },
      {
        name: 'Git',
        description: 'Version Control',
        href: 'https://git-scm.com/',
        iconPath: 'git'
      },
      {
        name: 'PyTorch',
        description: 'Deep Learning & Optimization',
        href: 'https://pytorch.org/',
        iconPath: 'pytorch'
      }
    ]}
  />
  <ToolSection
    class='mb-5'
    title='Productivity & Development'
    tools={[
      {
        name: 'Safari',
        description: 'Broswer',
        href: 'https://www.apple.com/safari/',
        iconPath: 'safari'
      },
      {
        name: 'Notion',
        description: 'Literature Review',
        href: 'https://www.notion.so/',
        iconPath: 'notion'
      },
      {
        name: 'Rerun',
        description: 'Visualize multimodal data over time',
        href: 'https://rerun.io/',
        iconPath: 'rerun'
      },
      {
        name: 'Tailscale',
        description: 'VPN',
        href: 'https://tailscale.com/',
        iconPath: 'tailscale'
      },
      {
        name: 'Typora',
        description: 'Markdown Editor',
        href: 'https://typora.io/',
        iconPath: 'typora'
      },
      {
        name: 'Docker',
        description: 'Containerization',
        href: 'https://www.docker.com/',
        iconPath: 'docker'
      },
      {
        name: 'Blender',
        description: '3D Modeling',
        href: 'https://www.blender.org/',
        iconPath: 'blender'
      },
      {
        name: 'CVAT',
        description: 'Annotation Tool',
        href: 'https://www.cvat.ai/',
        iconPath: 'cvat'
      }
    ]}
  />
  <ToolSection
    class='mb-5'
    title='Environment'
    tools={[
      {
        name: 'MacOS Sequoia',
        description: 'MacBook Pro',
        href: 'https://www.apple.com/macos/',
        iconPath: 'apple'
      },
      {
        name: 'Ubuntu 22.04 LTS',
        description: 'Linux Distribution',
        href: 'https://ubuntu.com/',
        iconPath: 'ubuntu'
      }
    ]}
  />

  <!-- interests -->
  <h2 id='interests'>Personal Interests</h2>
  <ul>
    <li>
      <p>
        I am an avid speedcuber and currently hold the Peking University record for Pyraminx single
        (valid through June 2025).
      </p>
      <p>
        Personal bests: 3×3 in 9.47s (Los Angeles 2024) and Pyraminx in 2.36s (Sacramento 2024).
        More on my <a
          href='https://www.worldcubeassociation.org/persons/2017LIAN26'
          target='_blank'
          rel='noopener noreferrer'>WCA profile</a
        >.
      </p>
      <p>
        New to speedcubing? A concise intro video is <a
          href='https://youtu.be/VmGOCXLCCgc'
          target='_blank'
          rel='noopener noreferrer'>here</a
        >. I also write occasional posts on this topic.
      </p>
    </li>
    <li>
      <p>I enjoy recreational tennis and play regularly for fitness and fun.</p>
    </li>
    <!-- <li>
      <p>
        I also love thoughtful sci‑fi and animation—especially Doctor Who—and light reading such as
        the Harry Potter series. See the sections below for a few favorites.
      </p>
    </li> -->
  </ul>

  <Collapse title='Favorite TV Series & Books'>
    <p>
      I particularly enjoy <a href='https://www.doctorwho.tv/' target='_blank'>Doctor Who</a> for its
      blend of imagination and human stories. I have followed the series for about a decade (since the
      Peter Capaldi era), and it still inspires me. Related posts:
    </p>
    <ul>
      <li><a href='blog/dw1' target='_blank'>Blog 1 (Chinese Version)</a></li>
      <li><a href='blog/dw2' target='_blank'>Blog 2 (Chinese Version)</a></li>
      <li><a href='blog/dw3-en' target='_blank'>Blog 3 (English Version)</a></li>
      <li><a href='blog/dw3-zh' target='_blank'>Blog 3 (Chinese Version)</a></li>
    </ul>
    <p>
      I also frequently revisit the <a
        href='https://www.wizardingworld.com/'
        target='_blank'
        rel='noopener noreferrer'>Harry Potter</a
      >
      series—it was my go‑to long before I discovered <a
        href='https://www.doctorwho.tv/'
        target='_blank'
        rel='noopener noreferrer'>Doctor Who</a
      >.
    </p>
  </Collapse>
  <!-- <Collapse title='Recent Anime I Enjoyed'>
    <Timeline
      events={[
        {
          date: 'Apr. 13, 2025',
          content:
            '<a href="https://en.wikipedia.org/wiki/Your_Lie_in_April" target="_blank" rel="noopener noreferrer">Your Lie in April</a>'
        },
        {
          date: 'Mar. 18, 2025',
          content:
            '<a href="https://en.wikipedia.org/wiki/The_Promised_Neverland" target="_blank" rel="noopener noreferrer">The Promised Neverland</a>'
        },
        {
          date: 'Mar. 14, 2025',
          content:
            '<a href="https://en.wikipedia.org/wiki/Summertime_Rendering" target="_blank" rel="noopener noreferrer">Summertime Rendering</a>'
        },
        {
          date: 'Jan. 01, 2021',
          content:
            '<a href="https://en.wikipedia.org/wiki/Attack_on_Titan" target="_blank" rel="noopener noreferrer">Attack on Titan</a>'
        },
        {
          date: 'Jul. 01, 2020',
          content:
            '<a href="https://en.wikipedia.org/wiki/Fullmetal_Alchemist" target="_blank" rel="noopener noreferrer">Fullmetal Alchemist</a>'
        },
        {
          date: 'Jan. 01, 2020',
          content:
            '<a href="https://en.wikipedia.org/wiki/Initial_D" target="_blank" rel="noopener noreferrer">Initial D</a>'
        }
      ]}
    />
    Additionally, I was immediately drawn to the music in <a
      href='https://en.wikipedia.org/wiki/Your_Lie_in_April'
      target='_blank'>Your Lie in April</a
    > the first time I heard it.
  </Collapse> -->

  <AnimatedSignature />

  <Comment slot='bottom' />
</PageLayout>
