---
import { Image } from 'astro:assets'

import { cn } from '@/utils'

const {
  as: Tag = 'div',
  class: className,
  href,
  heading,
  subheading,
  date,
  location,
  image,
  altText,
  isLCP = false
} = Astro.props
---

<Tag
  class={cn(
    'not-prose block relative rounded-2xl border border-border px-5 py-3',
    href && 'transition-all hover:shadow-sm hover:bg-muted',
    className
  )}
  href={href}
  target={href ? '_blank' : undefined}
  rel={href ? 'noopener noreferrer' : undefined}
>
  {image && (
    <Image
      src={image}
      widths={[189, 280, 360]}
      sizes='(max-width: 768px) 189px, (max-width: 1200px) 280px, 189px'
      quality={70}
      alt={altText ?? heading}
      class='absolute end-0 z-0 m-0 -my-3 h-full w-1/2 object-cover object-center opacity-40'
      priority={isLCP}
    />
  )}
  <div class='flex flex-col gap-y-1.5'>
    <div class='flex flex-col gap-y-0.5'>
      <h2 class='text-lg font-medium'>{heading}</h2>
      {subheading && <p class='text-muted-foreground'>{subheading}</p>}
      {date && <p class='text-muted-foreground'>{date}</p>}
      {location && <p class='text-muted-foreground'>{location}</p>}
    </div>
    <slot />
  </div>
</Tag>
