---
interface SubstatsItem {
  platform: string
  icon: string
  color?: string
  link?: string
  text: string
  api?: string
  count?: number
}

type Props = {
  stats: SubstatsItem[]
}

const { stats } = Astro.props as Props
---

<div class='grid grid-cols-1 gap-3 rounded-2xl border p-2 sm:grid-cols-2 sm:p-3'>
  {
    stats.map(({ link, platform, icon, color, count, text }) => (
      <a
        class='group text-muted-foreground no-underline'
        href={link}
        target='_blank'
        rel='noopener noreferrer'
      >
        <div class='hover:border-border hover:bg-muted flex items-center gap-3 rounded-2xl border border-transparent px-3 py-2 transition-all'>
          {icon && (
            <svg
              class='size-6'
              style={{ color: color ? color : 'hsl(var(--foreground) / var(--tw-text-opacity))' }}
            >
              <use href={`/icons/${icon}`} />
            </svg>
          )}
          <div class='text-foreground group-hover:text-primary flex-1 transition-colors'>
            {platform}
          </div>
          <div
            class:list={['flex items-center gap-1.5', !count && 'text-muted-foreground']}
            data-platform={platform}
          >
            <samp>{count ?? '-'}</samp>
            <span class='text-sm font-normal'>{text}</span>
          </div>
        </div>
      </a>
    ))
  }
</div>

<script is:inline define:vars={{ stats: stats }}>
  async function fetchCount(item) {
    if (item.count !== undefined) return item.count

    const username = item.api.split('/').at(-1)
    if (item.platform === 'X')
      return (await (await fetch(`/api/x?username=${encodeURIComponent(username)}`)).json()).count
    if (item.platform === 'Zhihu')
      return (await (await fetch(`/api/zhihu?username=${encodeURIComponent(username)}`)).json())
        .count
    if (item.platform === 'Bilibili')
      return (await (await fetch(`/api/bilibili?vmid=${encodeURIComponent(item.api)}`)).json()).data
        .follower

    return (await (await fetch(`https://api.swo.moe/stats/${item.api}`)).json()).count
  }

  function updatePlatformCount(platform, count) {
    const container = document.querySelector(`[data-platform="${platform}"]`)
    container.querySelector('samp').textContent = count.toString()
    container.classList.remove('text-muted-foreground')
  }

  function updateAllCountsParallel() {
    stats.forEach(async (item) => {
      const count = await fetchCount(item)
      if (count !== undefined) updatePlatformCount(item.platform, count)
    })
  }

  document.addEventListener('astro:page-load', () => {
    if (document.querySelector('[data-platform]')) updateAllCountsParallel()
  })
</script>
