---
import type { SiteMeta } from '@/types'
import { ClientRouter } from 'astro:transitions'

import StructuredData from '@/components/StructuredData.astro'
import socialCard from '@/assets/og/social_card.jpg'
import { siteConfig } from '@/site-config'

type Props = SiteMeta

const {
  alternates = [],
  canonical,
  description,
  imagePreview = 'large',
  lang,
  noindex = false,
  ogImage,
  publishDate,
  structuredData,
  title,
  updatedDate
} = Astro.props

const titleSeparator = '·'
const siteTitle = `${title} ${titleSeparator} ${siteConfig.title}`
const canonicalURL = new URL(canonical ?? Astro.url.pathname, Astro.site)
const socialImageURL = new URL(ogImage ?? socialCard.src, Astro.url).href
const isArticle = !!(publishDate || updatedDate)
const modifiedDate = updatedDate ?? publishDate
const pageLang = lang ?? siteConfig.lang
const ogLocale = pageLang.toLowerCase().startsWith('zh') ? 'zh_CN' : siteConfig.ogLocale
---

<meta charset='utf-8' />
<meta
  content='width=device-width, initial-scale=1.0, shrink-to-fit=no, viewport-fit=cover'
  name='viewport'
/>
<meta content='IE=edge' http-equiv='X-UA-Compatible' />
<title>{siteTitle}</title>

<link rel='apple-touch-icon' sizes='256x256' href='/favicon/favicon-256x256.png' />
<link rel='icon' type='image/png' sizes='32x32' href='/favicon/favicon-32x32.png' />
<link rel='manifest' href='/favicon/site.webmanifest' />

<link rel='preconnect' href='https://waline.lyt0112.com' crossorigin />

{
  structuredData ? (
    <StructuredData data={structuredData} />
  ) : (
    <StructuredData type={isArticle ? 'article' : 'website'} />
  )
}

<link rel='canonical' href={canonicalURL} />
{
  alternates.map((alternate) => (
    <link rel='alternate' hreflang={alternate.hreflang} href={alternate.href} />
  ))
}

<meta content={siteTitle} name='title' />
<meta content={description} name='description' />
<meta content={siteConfig.author} name='author' />
<meta content={pageLang} http-equiv='content-language' />
{noindex && <meta content='noindex, nofollow' name='robots' />}
{!noindex && imagePreview && <meta content={`max-image-preview:${imagePreview}`} name='robots' />}

<meta content='' name='theme-color' />

<meta content={isArticle ? 'article' : 'website'} property='og:type' />
<meta content={title} property='og:title' />
<meta content={description} property='og:description' />
<meta content={canonicalURL} property='og:url' />
<meta content={siteConfig.title} property='og:site_name' />
<meta content={ogLocale} property='og:locale' />
<meta content={socialImageURL} property='og:image' />
{
  isArticle && (
    <>
      <meta content={siteConfig.author} property='article:author' />
      {publishDate && <meta content={publishDate} property='article:published_time' />}
      {modifiedDate && <meta content={modifiedDate} property='article:modified_time' />}
      {modifiedDate && <meta content={modifiedDate} property='og:updated_time' />}
    </>
  )
}

<meta content='summary_large_image' property='twitter:card' />
<meta content={canonicalURL} property='twitter:url' />
<meta content={title} property='twitter:title' />
<meta content={description} property='twitter:description' />
<meta content={socialImageURL} property='twitter:image' />

{
  siteConfig.seo.telegramChannel && (
    <meta name='telegram:channel' content={siteConfig.seo.telegramChannel} />
  )
}

<link href='/sitemap-index.xml' rel='sitemap' />

<link
  rel='alternate'
  type='application/rss+xml'
  title={siteConfig.title}
  href={`${Astro.site}rss.xml`}
/>

<meta content={Astro.generator} name='generator' />

<link rel='preload' href='/fonts/Satoshi-Variable.woff2' as='font' type='font/woff2' crossorigin />

<style>
  html {
    font-family: 'Satoshi', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif;
  }
  @font-face {
    font-family: 'Satoshi';
    src: url('/fonts/Satoshi-Variable.woff2') format('woff2-variations');
    font-display: swap;
    font-weight: 100 900;
  }
  @font-face {
    font-family: 'Satoshi';
    src: url('/fonts/Satoshi-VariableItalic.woff2') format('woff2-variations');
    font-display: swap;
    font-weight: 100 900;
    font-style: italic;
  }
  html.dark {
    color-scheme: dark;
  }
</style>
<link
  rel='preload'
  href='/styles/global.css'
  as='style'
  {...{ onload: "this.onload=null;this.rel='stylesheet'" }}
/>
<noscript><link rel='stylesheet' href='/styles/global.css' /></noscript>

<ClientRouter />
