---
import PageLayout from '@/layouts/CommonPage.astro'

import { Comment } from '@/components/advanced'
import PublicationEntry from '@/components/projects/PublicationEntry.astro'
import { publicationsData } from '@/data/publications'

export const prerender = true

const headings = [
  {
    depth: 2,
    slug: 'publications',
    text: 'Publications'
  },
  {
    depth: 2,
    slug: 'research',
    text: 'Small Research Projects'
  },
  {
    depth: 2,
    slug: 'other',
    text: 'Personal Interest'
  },
  // {
  //   depth: 2,
  //   slug: 'learnings',
  //   text: 'Self Learning'
  // }
]

const otherResearchProjectsData = [
  // {
  //   name: 'CrossEmbodimentLatent',
  //   authors: '',
  //   venue: '',
  //   year: '',
  //   image: 'retargeting.gif',
  //   links: [{ type: 'github', href: 'https://github.com/EmptyBlueBox/CrossEmbodimentLatent' }],
  //   details: 'A data-free method to build a latent space for robotic hand poses retargeting',
  //   detailsTitle: 'Technical Description'
  // },
  {
    name: 'Motion Matching on AMASS',
	    authors: '',
	    venue: '',
	    year: '',
	    image: 'covers/motion_matching.png',
	    links: [
	      { type: 'github', href: 'https://github.com/EmptyBlueBox/MotionMatching' },
	      { type: 'video', href: 'https://youtu.be/DhTEMzsdJdA' }
    ],
    details: 'A motion matching project on AMASS dataset.'
  },
  {
    name: 'PhyMANO',
	    authors: '',
	    venue: '',
	    year: '',
	    image: 'covers/phymano.png',
	    links: [{ type: 'github', href: 'https://github.com/EmptyBlueBox/PhyMANO' }],
	    details: 'Simulate MANO in physics simulators.'
	},
  {
    name: 'Motion Guided Layout Design',
	    authors: '',
	    venue: '',
	    year: '',
	    image: 'covers/layout_pipeline.png',
	    links: [
	      { type: 'github', href: 'https://github.com/EmptyBlueBox/layout_design' },
	      { type: 'video', href: 'https://youtu.be/5CHdcELwdmM' }
    ],
    details: 'Indoor human motion for better navigation and comfort.'
  }
]

const personalInterestProjectsData = [
  {
    name: 'My Course Review',
	    authors: '',
	    venue: '',
	    year: '',
	    image: 'covers/course_review.png',
	    links: [{ type: 'site', href: '/blog/course_review-zh' }],
	    details: 'Course reviews and resources for PKU students.'
	},
  {
    name: 'PKU Treehole Starred Saver',
	    authors: '',
	    venue: '',
	    year: '',
	    image: 'covers/treehole_starred_saver.png',
    links: [
      { type: 'site', href: '/projects/treehole' },
      { type: 'github', href: 'https://github.com/EmptyBlueBox/PKU_Treehole_Starred_Saver' }
    ],
    details: 'Save your starred posts in Peking University Treehole.'
  },
  {
    name: 'Typst Thesis Template',
	    authors: '',
	    venue: '',
	    year: '',
	    image: 'covers/thesis_template.png',
    links: [
      { type: 'github', href: 'https://github.com/EmptyBlueBox/PKU_Undergraduate_Thesis_Template' }
    ],
    details: 'Peking University Undergraduate Thesis Template in Typst.'
  },
  {
    name: 'IDV Evaluation',
	    authors: '',
	    venue: '',
	    year: '',
	    image: 'covers/idv.png',
	    links: [{ type: 'github', href: 'https://github.com/Cczxpy/Cbg_handler_idV' }],
	    details: 'Evaluate Account Value for NetEase Game: Identity V.'
	  },
  {
    name: 'Course2Note',
    authors: '',
    venue: '',
    year: '',
    image: 'covers/course2note.png',
    links: [{ type: 'github', href: 'https://github.com/EmptyBlueBox/Course2Note' }],
    details: 'Convert course playbacks into clear notes or cleaned transcripts.'
  },
    {
    name: 'My Website',
    authors: '',
    venue: '',
    year: '',
    image: 'covers/course2note.png',
    links: [
      { type: 'site', href: '/' },
      { type: 'github', href: 'https://github.com/EmptyBlueBox/Blog' }
    ],
    details: 'My personal website built with Astro, a.k.a. this website.'
  }
]

const selfLearningProjectsData = [
  {
    name: 'Learning Rust',
	    authors: '',
	    venue: '',
	    year: '',
	    image: 'covers/rust.png',
	    links: [{ type: 'github', href: 'https://github.com/EmptyBlueBox/Learning_Rust' }],
	    details: 'Some notes and code about Rust.'
	  },
  {
    name: 'Learning RL',
	    authors: '',
	    venue: '',
	    year: '',
	    image: 'covers/isaacsim.png',
	    links: [{ type: 'github', href: 'https://github.com/EmptyBlueBox/Learning_RL' }],
	    details: 'Some notes and code about reinforcement learning.'
	  }
	]
---

<PageLayout title='Projects' headings={headings} info='/projects'>
  <h2 id='publications' class='mt-8'>Publications</h2>
  <div class='grid grid-cols-1 gap-4'>
    {
      publicationsData.map((pub) => (
        <PublicationEntry
          name={pub.name}
          authors={pub.authors}
          venue={pub.venue}
          year={pub.year}
          image={pub.image}
          video={pub.video}
          links={pub.links}
        />
      ))
    }
  </div>

  <h2 id='research' class='mt-8'>Small Research Projects</h2>
  <div class='grid grid-cols-1 gap-4 md:grid-cols-2'>
    {
      otherResearchProjectsData.map((item) => (
        <PublicationEntry
          name={item.name}
          authors={item.authors}
          venue={item.venue}
          year={item.year}
          image={item.image}
          links={item.links}
          details={item.details}
        />
      ))
    }
  </div>

  <h2 id='other' class='mt-8'>Personal Interest</h2>
  <div class='grid grid-cols-1 gap-4 md:grid-cols-2'>
    {
      personalInterestProjectsData.map((item) => (
        <PublicationEntry
          name={item.name}
          authors={item.authors}
          venue={item.venue}
          year={item.year}
          image={item.image}
          links={item.links}
          details={item.details}
        />
      ))
    }
  </div>

  <!-- <h2 id='learnings' class='mt-8'>Self Learning</h2>
  <div class='grid grid-cols-1 gap-4 md:grid-cols-2'>
    {
      selfLearningProjectsData.map((item) => (
        <PublicationEntry
          name={item.name}
          authors={item.authors}
          venue={item.venue}
          year={item.year}
          image={item.image}
          links={item.links}
          details={item.details}
        />
      ))
    }
  </div> -->

  <Comment slot='bottom' />
</PageLayout>
