---
import PageLayout from '@/layouts/CommonPage.astro'

import { Comment } from '@/components/advanced'
import PublicationEntry from '@/components/projects/PublicationEntry.astro'

export const prerender = true

const headings = [
  {
    depth: 2,
    slug: 'publications',
    text: 'Publications'
  },
  {
    depth: 2,
    slug: 'research',
    text: 'Research Projects'
  },
  {
    depth: 2,
    slug: 'other',
    text: 'Personal Interest'
  },
  {
    depth: 2,
    slug: 'learnings',
    text: 'Self Learning'
  }
]

const publicationsData = [
  {
    name: 'DexterCap: An Affordable and Automated System for Capturing Dexterous Hand-Object Manipulation',
    authors: '<br/><b>Yutong Liang</b>*, Shiyi Xu*, Yulong Zhang*, Bowen Zhan, He Zhang, Libin Liu',
    venue: 'In Submission',
    year: '2025',
    links: [
      { type: 'site', href: '/projects/DexterCap' },
      { type: 'arxiv', href: '/' },
      { type: 'github', href: 'https://github.com/PKU-MoCCA/hand-mocap' },
      { type: 'release', href: 'https://huggingface.co/datasets/pku-mocca/DexterHand/' }
    ],
    authorsCollapsed: false
  },
  {
    name: 'GSWorld: Closed-Loop Photo-Realistic Simulation Suite for Robotic Manipulation',
    authors:
      '<br/>Guangqi Jiang, Haoran Chang, Ri-Zhao Qiu, <b>Yutong Liang</b>, Mazeyu Ji, Jiyue Zhu, Zhao Dong, Xueyan Zou, Xiaolong Wang',
    venue: 'arXiv preprint 2510.20813',
    year: '2025',
    links: [
      { type: 'site', href: 'https://3dgsworld.github.io' },
      { type: 'github', href: 'https://github.com/luccachiang/GSWorld' },
      { type: 'arxiv', href: 'https://arxiv.org/abs/2510.20813' },
      { type: 'video', href: 'https://www.youtube.com/watch?v=uNj8RuFrhgQ' }
    ],
    authorsCollapsed: false
  },
  {
    name: 'ROBOVERSE: Towards a Unified Platform, Dataset and Benchmark for Scalable and Generalizable Robot Learning',
    authors:
      'Haoran Geng*, Feishi Wang*, Songlin Wei*, Yulong Li*, Bangjun Wang*, Boshi An*, Charlie Tianyue Cheng*, Haozhe Lou, Peihao Li, Yen-Jen Wang, <b>Yutong Liang</b>, Dylan Goetting, Chaoyi Xu, Haozhe Chen, Yuxi Qian, Yiran Geng, Jiageng Mao, Weikang Wan, Mingtong Zhang, Jiangran Lyu, Siheng Zhao, Jiazhao Zhang, Jialiang Zhang, Chengyang Zhao, Haoran Lu, Yufei Ding, Ran Gong, Yuran Wang, Yuxuan Kuang, Ruihai Wu, Baoxiong Jia, Carlo Sferrazza, Hao Dong, Siyuan Huang, Koushil Sreenath, Yue Wang†, Jitendra Malik†, Pieter Abbeel†',
    venue: 'Robotics: Science and Systems (RSS)',
    year: '2025',
    links: [
      { type: 'site', href: 'https://roboverseorg.github.io' },
      { type: 'github', href: 'https://github.com/RoboVerseOrg/RoboVerse' },
      { type: 'arxiv', href: 'https://arxiv.org/abs/2504.18904' }
    ],
    authorsCollapsed: true
  },
  {
    name: 'SimiSketch: A Sketching Algorithm for Similarity Estimation',
    authors:
      '<br/>Fenghao Dong, Yang He*, <b>Yutong Liang</b>*, Zirui Liu, Yuhan Wu, Peiqing Chen, and Tong Yang',
    venue: 'arXiv preprint 2405.19711',
    year: '2024',
    links: [
      { type: 'github', href: 'https://github.com/SimiSketch/SimiSketch' },
      { type: 'arxiv', href: 'https://arxiv.org/abs/2405.19711' }
    ]
  }
]

const otherResearchProjectsData = [
  // {
  //   name: 'CrossEmbodimentLatent',
  //   authors: '',
  //   venue: '',
  //   year: '',
  //   image: 'retargeting.gif',
  //   links: [{ type: 'github', href: 'https://github.com/EmptyBlueBox/CrossEmbodimentLatent' }],
  //   details: 'A data-free method to build a latent space for robotic hand poses retargeting',
  //   detailsTitle: 'Technical Description'
  // },
  {
    name: 'PhyMANO',
    authors: '',
    venue: '',
    year: '',
    image: 'phymano.png',
    links: [{ type: 'github', href: 'https://github.com/EmptyBlueBox/PhyMANO' }],
    details: 'Simulate MANO in physics simulators.',
    detailsTitle: 'Technical Description'
  },
  {
    name: 'Motion Matching on AMASS',
    authors: '',
    venue: '',
    year: '',
    image: 'motion_matching.png',
    links: [
      { type: 'github', href: 'https://github.com/EmptyBlueBox/MotionMatching' },
      { type: 'video', href: 'https://youtu.be/DhTEMzsdJdA' }
    ],
    details: 'A motion matching project on AMASS dataset.',
    detailsTitle: 'Technical Description'
  },
  {
    name: 'Motion Guided Layout Design',
    authors: '',
    venue: '',
    year: '',
    image: 'layout_pipeline.png',
    links: [
      { type: 'github', href: 'https://github.com/EmptyBlueBox/layout_design' },
      { type: 'video', href: 'https://youtu.be/5CHdcELwdmM' }
    ],
    details: 'Integrate human motion into indoor layout design for better navigation and comfort.',
    detailsTitle: 'Technical Description',
    detailsCollapsed: false
  }
]

const personalInterestProjectsData = [
  {
    name: 'PKU Treehole Starred Saver',
    authors: '',
    venue: '',
    year: '',
    image: 'pku.png',
    links: [
      { type: 'site', href: '/projects/treehole' },
      { type: 'github', href: 'https://github.com/EmptyBlueBox/PKU_Treehole_Starred_Saver' }
    ],
    details: 'Save your starred posts in Peking University Treehole.',
    detailsTitle: 'Details: PKU Treehole Starred Saver'
  },
  {
    name: 'Typst Thesis Template',
    authors: '',
    venue: '',
    year: '',
    image: 'pku.png',
    links: [
      { type: 'github', href: 'https://github.com/EmptyBlueBox/PKU_Undergraduate_Thesis_Template' }
    ],
    details: 'Peking University Undergraduate Thesis Template in Typst.',
    detailsTitle: 'Details: Typst Thesis Template'
  },
  {
    name: 'IDV Evaluation',
    authors: '',
    venue: '',
    year: '',
    image: 'idv.jpg',
    links: [{ type: 'github', href: 'https://github.com/EmptyBlueBox/IDV_Evaluation' }],
    details: 'Evaluate Account Value for NetEase Game: Identity V.',
    detailsTitle: 'Details: IDV Evaluation'
  },
  {
    name: 'Course2Note',
    authors: '',
    venue: '',
    year: '',
    links: [{ type: 'github', href: 'https://github.com/EmptyBlueBox/Course2Note' }],
    details: 'Convert course playbacks into clear notes or cleaned transcripts.',
    detailsTitle: 'Details: Course2Note'
  },
  {
    name: 'My Course Review',
    authors: '',
    venue: '',
    year: '',
    image: 'pku_scene.jpeg',
    links: [{ type: 'site', href: '/blog/course_review-zh' }],
    details: 'Course reviews and resources for PKU students.',
    detailsTitle: 'Details: My Course Review'
  },
  {
    name: 'My Website',
    authors: '',
    venue: '',
    year: '',
    image: '',
    links: [
      { type: 'site', href: '/' },
      { type: 'github', href: 'https://github.com/EmptyBlueBox/Blog' }
    ],
    details: 'My personal website built with Astro, a.k.a. this website.',
    detailsTitle: 'Details: My Website'
  }
]

const selfLearningProjectsData = [
  {
    name: 'Learning Rust',
    authors: '',
    venue: '',
    year: '',
    image: 'rust.png',
    links: [{ type: 'github', href: 'https://github.com/EmptyBlueBox/Learning_Rust' }],
    details: 'Some notes and code about Rust.',
    detailsTitle: 'Details: Learning Rust'
  },
  {
    name: 'Learning RL',
    authors: '',
    venue: '',
    year: '',
    image: 'isaacsim.png',
    links: [{ type: 'github', href: 'https://github.com/EmptyBlueBox/Learning_RL' }],
    details: 'Some notes and code about reinforcement learning.',
    detailsTitle: 'Details: Learning RL'
  }
]
---

<PageLayout title='Projects' headings={headings} info='/projects'>
  <h2 id='publications' class='mt-8'>Publications</h2>
  <div class='grid grid-cols-1 gap-4'>
    {
      publicationsData.map((pub) => (
        <PublicationEntry
          name={pub.name}
          authors={pub.authors}
          venue={pub.venue}
          year={pub.year}
          links={pub.links}
          authorsCollapsed={pub.authorsCollapsed}
        />
      ))
    }
  </div>

  <h2 id='research' class='mt-8'>Research Projects</h2>
  <div class='grid grid-cols-1 gap-4 md:grid-cols-2'>
    {
      otherResearchProjectsData.map((item) => (
        <PublicationEntry
          name={item.name}
          authors={item.authors}
          venue={item.venue}
          year={item.year}
          image={item.image}
          links={item.links}
          details={item.details}
          detailsTitle={item.detailsTitle}
          detailsCollapsed={item.detailsCollapsed}
        />
      ))
    }
  </div>

  <h2 id='other' class='mt-8'>Personal Interest</h2>
  <div class='grid grid-cols-1 gap-4 md:grid-cols-2'>
    {
      personalInterestProjectsData.map((item) => (
        <PublicationEntry
          name={item.name}
          authors={item.authors}
          venue={item.venue}
          year={item.year}
          image={item.image}
          links={item.links}
          details={item.details}
          detailsTitle={item.detailsTitle}
        />
      ))
    }
  </div>

  <h2 id='learnings' class='mt-8'>Self Learning</h2>
  <div class='grid grid-cols-1 gap-4 md:grid-cols-2'>
    {
      selfLearningProjectsData.map((item) => (
        <PublicationEntry
          name={item.name}
          authors={item.authors}
          venue={item.venue}
          year={item.year}
          image={item.image}
          links={item.links}
          details={item.details}
          detailsTitle={item.detailsTitle}
        />
      ))
    }
  </div>

  <Comment slot='bottom' />
</PageLayout>
