---
import PageLayout from '@/layouts/CommonPage.astro'
import links from 'public/links.json'

import { Comment } from '@/components/advanced'
import FriendList from '@/components/links/FriendList.astro'
import { Collapse, Timeline } from '@/components/user'
import { integrationConfig } from '@/site-config'

const headings = [
  {
    depth: 2,
    slug: 'common-links',
    text: 'Regular Friend Links'
  },
  {
    depth: 2,
    slug: 'special-links',
    text: 'Special Links'
  },
  {
    depth: 2,
    slug: 'apply-links',
    text: 'Apply for A Friend Link'
  }
]

const { friends } = links
const linksConfig = integrationConfig.links
---

<PageLayout title='Friend' {headings} info='/links'>
  <p>The links are placed randomly~</p>
  <h2 id='common-links'>Regular Friend Links</h2>
  <FriendList list={friends[0]} />

  <Collapse title='Link History Book'>
    <Timeline events={linksConfig.logbook} />
  </Collapse>

  <Collapse title='Inactive Friend Links'>
    <FriendList list={friends[1]} />
  </Collapse>
  
  <FriendList list={friends[2]} title='Special Links' />

  <!-- apply-links -->
  <h2 id='apply-links'>Apply for A Friend Link</h2>
  <p>The information on this site is as follows: </p>
  <blockquote class='not-prose border-s-4 ps-4'>
    <p>Name: <code>{linksConfig.applyTip.name}</code></p>
    <p>Introduction: <code>{linksConfig.applyTip.desc}</code></p>
    <p>Link: <code>{linksConfig.applyTip.url}</code></p>
    <p>Icon: <code>{linksConfig.applyTip.avatar}</code></p>
  </blockquote>

  <p>
    Friend Link Application Instructions: 
  </p>
  <ul>
    <li>Add this site as one of your friend links.</li>
    <li>Ensure your site is activated.</li>
    <li>Contact me via my <a href="mailto:lyt0112@outlook.com" target="_blank">email</a>.</li>
  </ul>
  <Comment slot='bottom' />
</PageLayout>
