---
import PageLayout from '@/layouts/CommonPage.astro'
import { Icon } from 'astro-icon/components'
import { Image } from 'astro:assets'
import links from 'public/links.json'

import Substats from '@/components/about/Substats.astro'
import { Comment } from '@/components/advanced'
import FriendList from '@/components/links/FriendList.astro'
import Sponsors from '@/components/projects/Sponsors.astro'
import { Collapse, Timeline } from '@/components/user'
import alipay from '@/assets/projects/alipay-qrcode.jpg'
import wechat from '@/assets/projects/wechat-qrcode.jpg'
import { integrationConfig } from '@/site-config'

export const prerender = true

const headings = [
  {
    depth: 2,
    slug: 'social-media',
    text: 'Social Medias'
  },
  {
    depth: 2,
    slug: 'common-links',
    text: 'Friend Links'
  },
  // {
  //   depth: 2,
  //   slug: 'special-links',
  //   text: 'Special Links'
  // },
  {
    depth: 2,
    slug: 'apply-links',
    text: 'Apply for a Friend Link'
  },
  {
    depth: 2,
    slug: 'sponsorship',
    text: 'Sponsorship'
  }
]

const { friends } = links
const linksConfig = integrationConfig.links
---

<PageLayout title='Links' {headings} info='/links'>
  <p>The links are placed randomly~</p>
  <h2 id='social-media'>Social Medias</h2>
  <p>
    Feel free to follow me on these social networks, and don't forget to leave a comment down below
    so I can follow you back!
  </p>
  <div class='flex items-center justify-center gap-x-4 sm:gap-x-4 md:gap-x-7 lg:gap-x-8'>
    <a
      href='mailto:lyt0112@outlook.com'
      target='_blank'
      aria-label='Email'
      class='transition-colors hover:text-primary'
    >
      <Icon name='mail' class='size-6 sm:size-7 md:size-8' />
    </a>
    <a
      href='https://github.com/EmptyBlueBox'
      target='_blank'
      aria-label='GitHub'
      class='transition-colors hover:text-primary'
    >
      <Icon name='github' class='size-6 sm:size-7 md:size-8' />
    </a>
    <a
      href='https://scholar.google.com/citations?user=YtGyys8AAAAJ&hl=en'
      target='_blank'
      aria-label='Google Scholar'
      class='transition-colors hover:text-primary'
    >
      <Icon name='google-scholar' class='size-6 sm:size-7 md:size-8' />
    </a>
    <a
      href='https://www.linkedin.com/in/yutong-liang-0a535030b/'
      target='_blank'
      aria-label='LinkedIn'
      class='transition-colors hover:text-primary'
    >
      <Icon name='linkedin' class='size-6 sm:size-7 md:size-8' />
    </a>
    <a
      href='https://x.com/YutongLiang_'
      target='_blank'
      aria-label='X'
      class='transition-colors hover:text-primary'
    >
      <Icon name='x' class='size-6 sm:size-7 md:size-8' />
    </a>
    <a
      href='https://www.youtube.com/@YutongLiang-y6d'
      target='_blank'
      aria-label='YouTube'
      class='transition-colors hover:text-primary'
    >
      <Icon name='youtube' class='size-6 sm:size-7 md:size-8' />
    </a>
    <a
      href='https://www.instagram.com/yutongliang0112/'
      target='_blank'
      aria-label='Instagram'
      class='transition-colors hover:text-primary'
    >
      <Icon name='instagram' class='size-6 sm:size-7 md:size-8' />
    </a>
    <a
      href='https://space.bilibili.com/214390234'
      target='_blank'
      aria-label='Bilibili'
      class='transition-colors hover:text-primary'
    >
      <Icon name='bilibili' class='size-6 sm:size-7 md:size-8' />
    </a>
    <a
      href='https://www.zhihu.com/people/tardis-77'
      target='_blank'
      aria-label='Zhihu'
      class='transition-colors hover:text-primary'
    >
      <Icon name='zhihu' class='size-6 sm:size-7 md:size-8' />
    </a>
    <a
      href='https://www.worldcubeassociation.org/persons/2017LIAN26'
      target='_blank'
      aria-label='WCA'
      class='transition-colors hover:text-primary'
    >
      <Icon name='wca' class='size-6 sm:size-7 md:size-8' />
    </a>
  </div>

  <p></p>

  <Substats
    stats={[
      {
        platform: 'GitHub',
        icon: 'social.svg#mingcute-github-line',
        link: 'https://github.com/EmptyBlueBox',
        text: 'followers',
        api: 'github/EmptyBlueBox'
      },
      {
        platform: 'X',
        icon: 'social.svg#mingcute-x-line',
        link: 'https://x.com/YutongLiang_',
        text: 'followers',
        api: 'x/YutongLiang_',
        count: 24
      },
      {
        platform: 'Zhihu',
        icon: 'social.svg#ri-zhihu-line',
        color: '#0084ff',
        link: 'https://www.zhihu.com/people/tardis-77',
        text: 'followers',
        api: 'zhihu/tardis-77',
        count: 590
      },
      {
        platform: 'Bilibili',
        icon: 'social.svg#ri-bilibili-line',
        color: '#fe7398',
        link: 'https://space.bilibili.com/214390234',
        text: 'fans',
        api: '214390234'
      }
    ]}
  />

  <p></p>
  <h2 id='common-links'>Friend Links</h2>
  <FriendList list={friends[0]} />

  <Collapse title='Link History Book'>
    <Timeline events={linksConfig.logbook} />
  </Collapse>

  <Collapse title='Inactive Friend Links'>
    <FriendList list={friends[1]} />
  </Collapse>

  <!-- <FriendList list={friends[2]} title='Special Links' /> -->

  <!-- apply-links -->
  <h2 id='apply-links'>Apply for a Friend Link</h2>
  <p>The information on this site is as follows:</p>
  <blockquote class='not-prose border-s-4 ps-4'>
    <p>Name: <code>{linksConfig.applyTip.name}</code></p>
    <p>Introduction: <code>{linksConfig.applyTip.desc}</code></p>
    <p>Website: <code>{linksConfig.applyTip.url}</code></p>
    <p>Avatar: <code>{linksConfig.applyTip.avatar}</code></p>
  </blockquote>

  <p>Friend Link Application Instructions:</p>
  <ul>
    <li>Add this site as one of your friend links.</li>
    <li>Ensure your site is activated.</li>
    <li>Contact me via my <a href='mailto:lyt0112@outlook.com' target='_blank'>email</a>.</li>
  </ul>

  <!-- sponsorship -->
  <h2 id='sponsorship'>Sponsorship</h2>
  <p>
    Please leave a message or contact me proactively via my <a
      href='mailto:lyt0112@outlook.com'
      target='_blank'>email</a
    > after sponsorship.
  </p>
  <Collapse title='Scan to Donate'>
    <div class='flex flex-col justify-center gap-4 sm:flex-row'>
      {
        [
          { name: 'WeChat', icon: 'mingcute-wechat-pay-line', image: wechat },
          { name: 'Alipay', icon: 'mingcute-alipay-line', image: alipay }
        ].map((item) => (
          <div class='group relative justify-center overflow-hidden rounded-xl border bg-white dark:bg-muted'>
            <div class='absolute bottom-0 end-0 start-0 top-0 flex items-center justify-center transition-opacity group-hover:opacity-0'>
              <svg class='size-20'>
                <use href={`/icons/copyright-sponsor.svg#${item.icon}`} />
              </svg>
            </div>
            <Image
              class='mx-auto my-0 max-w-60 opacity-30 blur-sm transition-opacity group-hover:opacity-100 group-hover:blur-none'
              src={item.image}
              alt={item.name}
              loading='lazy'
            />
          </div>
        ))
      }
    </div>
  </Collapse>
  <p>Thanks to the following sponsors, love you all!</p>
  <Sponsors
    sponsors={[
      { name: 'å›', amount: 'CNY 100.00', date: '2025-02-05' },
      { name: 'Jaspeco.sea', amount: 'CNY 20.00', date: '2024-11-14' }
    ]}
  />

  <Comment slot='bottom' />
</PageLayout>
