---
import type { SiteMeta } from '@/types'
import Analytics from '@vercel/analytics/astro'
import SpeedInsights from '@vercel/speed-insights/astro'

import AnalyticsScripts from '@/components/AnalyticsScripts.astro'
import BaseHead from '@/components/BaseHead.astro'
import Footer from '@/components/layout/Footer.astro'
import Header from '@/components/layout/Header.astro'
import ThemeProvider from '@/components/layout/ThemeProvider.astro'
import { siteConfig } from '@/site-config'

import '@/assets/styles/app.css'

interface Props {
  meta: SiteMeta
  highlightColor?: string
  pageviewPath?: string
}

const {
  meta: {
    alternates,
    canonical,
    description = siteConfig.description,
    imagePreview,
    lang,
    noindex,
    ogImage,
    publishDate,
    structuredData,
    title,
    updatedDate
  },
  highlightColor,
  pageviewPath
} = Astro.props

const has_highlight_color =
  highlightColor && highlightColor !== 'hsl(var(--primary) / var(--tw-text-opacity))'
const highlight_style = has_highlight_color ? `--highlight-color: ${highlightColor}` : undefined
---

<html lang={lang ?? siteConfig.lang}>
  <head>
    <BaseHead
      alternates={alternates}
      canonical={canonical}
      description={description}
      imagePreview={imagePreview}
      lang={lang}
      noindex={noindex}
      ogImage={ogImage}
      publishDate={publishDate}
      structuredData={structuredData}
      title={title}
      updatedDate={updatedDate}
    />
    <AnalyticsScripts />
    <ThemeProvider />
    <style is:global>
      .highlight {
        color: var(--highlight-color, hsl(var(--primary) / var(--tw-text-opacity, 1))) !important;
      }
      .highlight-bg {
        background-color: var(
          --highlight-color,
          hsl(var(--primary) / var(--tw-bg-opacity, 1))
        ) !important;
      }
    </style>
  </head>

  <body
    class='bg-background flex min-h-screen w-full justify-center overflow-x-hidden transition-colors'
    data-pageview-path={pageviewPath}
    style={highlight_style}
  >
    {
      has_highlight_color && (
        <>
          <div
            class='pointer-events-none absolute start-0 top-0 z-0 h-1/2 w-full opacity-25'
            style={{ backgroundImage: `linear-gradient(${highlightColor}, transparent)` }}
          />
        </>
      )
    }
    <main
      class='text-body z-10 flex min-h-screen w-full max-w-[100vw] flex-col items-center px-4 pb-10 sm:px-7 lg:px-10'
    >
      <Header />
      <div class='mx-auto w-full max-w-5xl'>
        <slot />
      </div>
      <Footer />
    </main>

    <script>
      import { initCurrentPageview } from '@/utils/pageview'

      document.addEventListener('astro:page-load', () => {
        const pageviewPath = document.body.dataset.pageviewPath
        initCurrentPageview(pageviewPath?.length ? pageviewPath : window.location.pathname)
      })
    </script>
    <Analytics />
    <SpeedInsights />
  </body>
</html>
